%li
  %span.team #{game.player1.username}
  %span.team #{game.team1}
  %span.resultado #{game.player1_score.to_s} X #{game.player2_score.to_s}
  %span.other-team #{game.player2.username}
  %span.other-team Manchester United (Argentino)