.user-image
  = gravatar_image_tag(@p.email, :alt => @p.name, :gravatar => { :size => 160 })

.infos.personal
  %p
    %strong Nome
    #{@p.name}
  %p
    %strong Email
    #{@p.email}
  %p
    %strong Username
    #{@p.username}
  %p
    %strong Time
    #{@time}
.infos.stats
  %p
    %strong Vitórias
    #{@victorys.to_s}
  %p
    %strong Empates
    #{@draws.to_s}
  %p
    %strong Derrotas
    #{@loses.to_s}
<!-- A section abaixo só aparece quando um usuário logado entra no perfil de outro usuário. -->
-if !current_player.nil?
  -if(current_player.id != @p.id)
    .last-games.challenges
      %h3 Últimos jogos contra mim
      %ul
        -@p.games_with_me(current_player.id)[0..5].each do |game|
          =render partial: 'challenge', locals: { game: game }


.last-games
  %h3 Últimos jogos desse jogador
  %ul
    -@p.games[0..5].each do |game|
      =render partial: 'challenge', locals: { game: game }

.greatest_defeat.clear
  %h3 Maiores derrotas
  %ul
    -@p.greatest_defeat[0..5].each do |game|
      =render partial: 'challenge', locals: { game: game }