!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :javascript
      $(document).ready(function() {
        
        var windowHeight = $(window).height();
        var headerHeight = $('header').height();
        var footerHeight = $('footer').height();

          if($(window).width() <= 1024){
              $("#novo-ranking").html("+");
          } else {
              $("#novo-ranking").html("Novo Ranking");
          }

          $('#goto-ranking').click(function(){
              $('#timeline').fadeOut()
              $('#ranking').fadeIn()
              return false
          })

          $('#goto-timeline').click(function(){
              $('#ranking').fadeOut()
              $('#timeline').fadeIn()
              return false
          })

          $('#ranking li').click(function(){
            var $this = $(this);
              $('#jogador-visitante').val($this.find('#username').text());
              $('#jogador-visitante-id').val($this.prop('id'));
              
              
              $('#modal').fadeIn()
              $('#modal-bg').fadeIn()
              return false
          })

          $('#close').click(function(){
              $('#modal').fadeOut()
              $('#modal-bg').fadeOut()
              return false
          })

          $(window).resize(function() {                
              if($(window).width() <= 1024){
                  $("#novo-ranking").html("+");
                  $('#timeline').fadeOut()
              } else {
                  $("#novo-ranking").html("Novo Ranking");
                  $('#ranking').fadeIn()
                  $('#timeline').fadeIn()
              }
          });
      });

  %body
    - if !current_player.nil?
      = render '/home/resultado'
    %header
      %a#logo{:href => ""}
        %span Raking Fizir
      %h1 Ranking da Escritorio
      %a#novo-ranking{:href => ""} Novo Ranking
      = link_to('Sair', destroy_player_session_path, :method => :delete)
    #wrapper
      %section
        = yield
    %footer
      %a#goto-ranking{:href => ""} Ranking
      %a#goto-timeline{:href => ""} Timeline