!!!
%html.no-js
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}/
    %meta{:name=>"apple-mobile-web-app-status-bar-style", :content=>"black"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    :javascript
      $(document).ready(function() {
        var mobile_active_view = '';
        if(window.location.href.indexOf('timeline') > 0){
          mobile_active_view = 'timeline';
          $('#ranking').fadeOut();
          $('#timeline').fadeIn();
        } else {
          $('#timeline').fadeOut();
          $('#ranking').fadeIn();
          mobile_active_view = 'ranking';
        }

        var windowHeight = $(window).height();
        var headerHeight = $('header').height();
        var footerHeight = $('footer').height();

        if($(window).width() <= 1024){
            $("#novo-ranking").html("+");
        } else {
            $("#novo-ranking").html("Novo Ranking");
        }

        $('#goto-ranking').click(function(){
          $('#timeline').fadeOut();
          $('#ranking').fadeIn();
          mobile_active_view = 'ranking';
          return false;
        })

        $('#goto-timeline').click(function(){
          $('#ranking').fadeOut();
          $('#timeline').fadeIn();
          mobile_active_view = 'timeline';
          return false;
        })

        $('.nova-partida').click(function(){
          var $this = $(this).parents('.ranking-row');
          $('#jogador-visitante').val($this.find('#username').text());
          $('#jogador-visitante-id').val($this.prop('id'));

          $('#modal-bg').fadeIn('fast');

          $.ajax({
            url: 'teams/get_new_score_data/' + #{current_player.try(:id)} + '/' + $this.prop('id'),
            success: function(data){

              if(data.last_team_player1 != null){
                $('#time-casa').val(data.last_team_player1.name);
                $("#game_player1_team_logo").attr('src', data.last_team_player1.logo)
                $('#game_player1_team_id').val(data.last_team_player1.id);
              }
              if(data.last_team_player2 != null){
                $('#time-visitante').val(data.last_team_player2.name);
                $("#game_player2_team_logo").attr('src', data.last_team_player2.logo)
                $('#game_player2_team_id').val(data.last_team_player2.id);
              }
              set_team_autocomplete(data.all_teams);

              setTimeout("$('#modal').fadeIn('fast')", 300)

              if($(window).width() <= 1024){
                setTimeout("$('header, footer, #wrapper').hide(); $('#modal-bg').fadeOut('fast');", 300);
              } else {
                $('#modal-bg').fadeIn('fast')
              }
            },
            error: function(){
              alert("Erro ao carregar os times");
            }
          });
          return false;
        })

        $('#close').click(function(){
          $('#modal').fadeOut('fast')
          $('#modal-bg').fadeOut('fast', function(){
            if($(window).width() <= 1024){
              $('header, footer, #wrapper').fadeIn('fast');
            } else {
              $('header, footer, #wrapper').fadeIn('fast');
            }
          })
          return false;
        })

        $(window).resize(function() {
          if($(window).width() <= 1024 && mobile_active_view == 'ranking'){
              $('#timeline').fadeOut()
          } else {
              $("#novo-ranking").html("Novo Ranking");
              $('#ranking').fadeIn('fast');
              $('#timeline').fadeIn('fast');
          }
        });

        // no Android, troca pra type=number pra mostrar teclado numerico.
        // (desculpa pela detecacao de user agent :)
        if (navigator.userAgent.indexOf('Android') >= 0) {
          $('.input-numerico').attr('type', 'number');
        }
        $(".input-numerico, .team_autocomplete").focus(function(){
          this.select();
        });

        $(".input-numerico, .team_autocomplete").mouseup(function(e){
          e.preventDefault();
        });
      });

      function set_team_autocomplete(teams){
        $( ".team_autocomplete" ).autocomplete({
          minLength: 0,
          source: teams,
          focus: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#game_" + $(this).attr('name') + "_logo").attr('src', ui.item.logo)
            return false;
          },
          select: function( event, ui ) {
            $(this).val( ui.item.label );
            $("#game_" + $(this).attr('name') + "_id").val(ui.item.value)
            $("#game_" + $(this).attr('name') + "_logo").attr('src', ui.item.logo)
            return false;
          }
        }).each(function(){
          $(this).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li>" )
              .append( "<a>" + "<img src='"+ item.logo + "'>" + item.label + " </a>" )
              .appendTo( ul );
          };
        });
      }

  %body
    - if !current_player.nil?
      = render '/home/match'
    %header
      %a#logo{:href => ""}
        %span
      %h1 Ranking do Escritorio
      /%a#novo-ranking{:href => ""} Novo Ranking
      - if current_player.nil?
        = link_to('Entrar', new_player_session_path, :class=>'btn-sair')
        = link_to('Quer um ranking deste?', "http://fifa-ranking.kickoffpages.com/", :class=>'btn-sair', :target => "_blank", :id => "landing-page")
      - else
        = link_to('Sair', destroy_player_session_path, :method => :delete, :class=>'btn-sair')
    #wrapper
      %section
        = yield
        .social-plugins
          = render '/home/social-plugins'
    %footer
      %a#goto-ranking{:href => ""} Ranking
      %a#goto-timeline{:href => ""} Timeline
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38803051-1']);
      _gaq.push(['_setDomainName', 'herokuapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
